
<table class="table">
  <thead>
  <tr class="yards">
      <th scope='col'>Yards</th>
      <th *ngFor="let hole of holes" scope='col' class='labelNum'>{{hole}}</th>
  </tr>
  <tr class="par">
      <th scope='col'>Par</th>
      <th *ngFor="let hole of holes" scope='col' class='labelNum'>{{hole}}</th>
  </tr>
  <tr class="handicap">
      <th scope='col'>Handicap</th>
      <th *ngFor="let hole of holes" scope='col' class='labelNum'>{{hole}}</th>
  </tr>
  <tr class="hole">
      <th scope='col'>Hole</th>
      <th *ngFor="let hole of holes" scope='col' class='labelNum'>{{hole}}</th>
  </tr>
  </thead>
    <tbody class="player" *ngFor="let player of playerCount">
        <td class='scoreBox'>{{ player }}</td>
        <td *ngFor="let hole of holes" class='scoreBox'><input class=''></td>
    </tbody>
</table>

