#teeSelect, #courseSelect{
    margin: 5px;
}

.table{
    margin-bottom: 0;
}
.table td, .table th{
    border: 1px solid #dee2e6;
}

.scoreBox{
    width: 5%;
    padding: 20px;
    text-align: center;
}

input{
    width: 90%;
    text-align: center;
    font-size: medium;
    border: none;
}

input:focus{
    outline: none;
}

.labelNum{
    width: 5%;
    text-align: center;
    padding: 20px;
}

.scores{
    display: flex;
    flex-direction: row;
}

.scoreWrapper{
    padding: 20px;
}