<div class="wrapper">
    <div class="select">
        <mat-form-field>
            <mat-select matNativeControl required placeholder="Select a Course" (selectionChange)="chooseCourse($event)">
                <mat-option *ngFor="let course of coursesList?.courses"
                        value="{{ course.id }}">
                    {{ course.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="select">
        <mat-form-field *ngIf="courseSelected">
            <mat-select matNativeControl required placeholder="Select a Tee" (selectionChange)="chooseTee($event)">
                <mat-option *ngFor="let tee of teeTypeList; let i = index"
                            value="{{ i }}">
                    {{ tee }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<mat-form-field>
    <mat-select placeholder="Number of players" (selectionChange)="playerNumber($event)">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
    </mat-select>
</mat-form-field>

<form *ngIf="playerSelected">
    <mat-form-field class="nameInputs" *ngFor="let player of newPlayerCount; let i = index">
        <input matInput placeholder="Player {{player + 1}} name:" [(ngModel)]="nameArray[i]" name="player">
    </mat-form-field>
</form>

<div>
    <button (click)="submit()" mat-raised-button [routerLink]="['/scorecard']">Next</button>
</div>
